In [13]:
import pandas as pd
import numpy as np

In [22]:
dfToronto = pd.read_excel('C:/Users/LuciaBenisova/Toronto.xlsx')
dfToronto.head()

  Postcode      Borough          Neigborhood
0      M1G  Scarborough               Woburn
1      M1H  Scarborough            Cedarbrae
2      M1J  Scarborough  Scarborough Village
3      M1S  Scarborough            Agincourt
4      M1W  Scarborough      L'Amoreaux West

In [23]:
dfToronto.tail()

    Postcode     Borough                                        Neigborhood
98       M8Z   Etobicoke  Kingsway Park South West, Mimico NW, The Queen...
99       M9B   Etobicoke  Cloverdale, Islington, Martin Grove, Princess ...
100      M9C   Etobicoke  Bloordale Gardens, Eringate, Markland Wood, Ol...
101      M9M  North York                                   Emery, Humberlea
102      M9R   Etobicoke  Kingsview Village, Martin Grove Gardens, Richv...

In [21]:
dfToronto.shape

(103, 3)